<!doctype html>
<html>
  <head>
    <meta charset="UTF-8">
    <script type="text/javascript" src="static/jquery-1.8.2.js"></script>
    <script type="text/javascript" src="static/chat.js"></script>
    <link rel="stylesheet" type="text/css" href="static/chat.css">
  </head>
  <body>
    <div id="history">
      {% include "messages.html" %}
    </div>
    <textarea id="message"></textarea>
    <p class="note">לחץ פעמיים על Enter בכדי לשלוח.</p>
    <button id="submit">שלח הודעה</button>
    <input id="author" value="אלי"></input>
    </form>
  </body>
</html>
